In [ ]:
import pandas as pd 
#file_path = r'de_cs\pipelines\data\data_engineering\Flavours_20240505_1.csv'

file_path = r"C:\Users\shara\OneDrive\Desktop\iff\pipelines\data\data_engineering\20250121\Flavours_20240505_1.csv"

df = pd.read_csv(file_path)

In [ ]:
print("--------df.describe--------")
print("To get data statics and understand data spread")
print(df.describe(include='all'))
print('-----------------------')

print("--------df.info--------")
print(df.info())
print('-----------------------')

print("--------df.head--------")
print("To see data and and get general insights")
print(df.head(5))
print('-----------------------')

print("--------df.dtypes--------")
print("To understand the data types to cast or convert in pipeline (If required)")
print(df.dtypes)
print('-----------------------')

print("--------df Null %--------")
print("Null percentage check for each data column")
print((df.isnull().sum()/len(df))*100)
print('-----------------------')

In [57]:
import os
import pandas as pd
from sqlalchemy import create_engine,text
import subprocess

# PostgreSQL Connection
DB_CONN = "postgresql+psycopg2://postgres:postgres@localhost:5432/iff"

def eda_bronze():
    engine = create_engine(DB_CONN)
    with engine.connect() as connection:
        result = connection.execute(text("""
            SELECT tablename 
            FROM pg_tables 
            WHERE schemaname = 'bronze_schema' AND tablename LIKE '%_bronze_layer'
        """))
        
        bronze_tables = [row[0] for row in result]
        
        for table in bronze_tables:
            df = pd.read_sql(f"SELECT * FROM bronze_schema.{table}", engine)
            #silver_table = table.replace("_bronze_layer", "_silver_layer")
            print(f"EDA for table: {table}")
            print('***********************************************')
            print('                                               ')
            print("--------df.describe--------")
            print("To get data statics and understand data spread")
            print(df.describe(include='all'))
            print('-----------------------')

            print("--------df.info--------")
            print(df.info())
            print('-----------------------')

            print("--------df.head--------")
            print("To see data and and get general insights")
            print(df.head(5))
            print('-----------------------')

            # print("--------df.dtypes--------")
            # print("To understand the data types to cast or convert in pipeline (If required)")
            # print(df.dtypes)
            # print('-----------------------')

            print("--------df Null %--------")
            print("Null percentage check for each data column")
            print((df.isnull().sum()/len(df))*100)
            print('-----------------------')
    print(f"✅ EDA complete:")


eda_bronze()

EDA for table: flavours_bronze_layer
***********************************************

--------df.describe--------
To get data statics and understand data spread
        flavour_id          name                          description  \
count   500.000000           500                                  500
unique         NaN           492                                  499
top            NaN  Key Lime Pie  A warm, spiced apple dessert flavor
freq           NaN             2                                    2
mean    250.500000           NaN                                  NaN
std     144.481833           NaN                                  NaN
min       1.000000           NaN                                  NaN
25%     125.750000           NaN                                  NaN
50%     250.500000           NaN                                  NaN
75%     375.250000           NaN                                  NaN
max     500.000000           NaN                                  NaN

       load_date generation_date batch_number
count        500             500          500
unique         1               1            1
top     20250121        20240505            1
freq         500             500          500
mean         NaN             NaN          NaN
std          NaN             NaN          NaN
min          NaN             NaN          NaN
25%          NaN             NaN          NaN
50%          NaN             NaN          NaN
75%          NaN             NaN          NaN
max          NaN             NaN          NaN
-----------------------
--------df.info--------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   flavour_id       500 non-null    int64
 1   name             500 non-null    object
 2   description      500 non-null    object
 3   load_date        500 non-null    object
 4   generation_date  500 non-null    object
 5   batch_number     500 non-null    object
dtypes: int64(1), object(5)
memory usage: 23.6+ KB
None
-----------------------
--------df.head--------
To see data and and get general insights
   flavour_id        name                                        description  \
0           1     Vanilla  A sweet, creamy flavor derived from vanilla beans
1           2   Chocolate         A rich, bittersweet flavor made from cacao
2           3  Strawberry  A sweet and tangy flavor made from ripe strawb...
3           4        Mint  A refreshing, cool flavor often associated wit...
4           5       Lemon    A tart, citrusy flavor derived from lemon fruit

  load_date generation_date batch_number
0  20250121        20240505            1
1  20250121        20240505            1
2  20250121        20240505            1
3  20250121        20240505            1
4  20250121        20240505            1
-----------------------
--------df Null %--------
Null percentage check for each data column
flavour_id         0.0
name               0.0
description        0.0
load_date          0.0
generation_date    0.0
batch_number       0.0
dtype: float64
-----------------------
EDA for table: ingredientsrawmaterial_bronze_layer
***********************************************

--------df.describe--------
To get data statics and understand data spread
        ingredient_rawmaterial_id  ingredient_id  raw_material_type_id  \
count               100000.000000   100000.00000         100000.000000
unique                        NaN            NaN                   NaN
top                           NaN            NaN                   NaN
freq                          NaN            NaN                   NaN
mean                 49999.500000      249.39178            100.426420
std                  28867.657797       86.57747             57.862768
min                      0.000000      100.00000              1.000000
25%                  24999.750000      174.00000             50.000000
50%                  49999.500000      249.00000            100.000000
75%                  74999.250000      325.00000            151.000000
max                  99999.000000      399.00000            200.000000

       load_date generation_date batch_number
count     100000          100000       100000
unique         1               1            1
top     20250121        20240505            1
freq      100000          100000       100000
mean         NaN             NaN          NaN
std          NaN             NaN          NaN
min          NaN             NaN          NaN
25%          NaN             NaN          NaN
50%          NaN             NaN          NaN
75%          NaN             NaN          NaN
max          NaN             NaN          NaN
-----------------------
--------df.info--------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ingredient_rawmaterial_id  100000 non-null  int64
 1   ingredient_id              100000 non-null  int64
 2   raw_material_type_id       100000 non-null  int64
 3   load_date                  100000 non-null  object
 4   generation_date            100000 non-null  object
 5   batch_number               100000 non-null  object
dtypes: int64(3), object(3)
memory usage: 4.6+ MB
None
-----------------------
--------df.head--------
To see data and and get general insights
   ingredient_rawmaterial_id  ingredient_id  raw_material_type_id load_date  \
0                          0            380                    31  20250121
1                          1            161                   137  20250121
2                          2            145                   182  20250121
3                          3            313                     7  20250121
4                          4            211                    93  20250121

  generation_date batch_number
0        20240505            1
1        20240505            1
2        20240505            1
3        20240505            1
4        20240505            1
-----------------------
--------df Null %--------
Null percentage check for each data column
ingredient_rawmaterial_id    0.0
ingredient_id                0.0
raw_material_type_id         0.0
load_date                    0.0
generation_date              0.0
batch_number                 0.0
dtype: float64
-----------------------
EDA for table: provider_bronze_layer
***********************************************

--------df.describe--------
To get data statics and understand data spread
        provider_id                   name  location_city  location_country  \
count      324.0000                    324            324               324
unique          NaN                    106            103                67
top             NaN   "Czech Beer Brewers"   "Copenhagen"   "United States"
freq            NaN                      6              6                66
mean        54.5000                    NaN            NaN               NaN
std         31.2238                    NaN            NaN               NaN
min          1.0000                    NaN            NaN               NaN
25%         27.7500                    NaN            NaN               NaN
50%         54.5000                    NaN            NaN               NaN
75%         81.2500                    NaN            NaN               NaN
max        108.0000                    NaN            NaN               NaN

       load_date generation_date batch_number
count        324             324          324
unique         2               2            2
top     20250121        20240505            1
freq         216             216          216
mean         NaN             NaN          NaN
std          NaN             NaN          NaN
min          NaN             NaN          NaN
25%          NaN             NaN          NaN
50%          NaN             NaN          NaN
75%          NaN             NaN          NaN
max          NaN             NaN          NaN
-----------------------
--------df.info--------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   provider_id       324 non-null    int64
 1   name              324 non-null    object
 2   location_city     324 non-null    object
 3   location_country  324 non-null    object
 4   load_date         324 non-null    object
 5   generation_date   324 non-null    object
 6   batch_number      324 non-null    object
dtypes: int64(1), object(6)
memory usage: 17.8+ KB
None
-----------------------
--------df.head--------
To see data and and get general insights
   provider_id                            name location_city  \
0            1   "Global Ingredient Suppliers"      "London"
1            2               "Nature's Bounty"     "Seattle"
2            3               "Organic Essence"      "Berlin"
3            4       "Culinary Creations Inc."     "Toronto"
4            5                 "Spice Odyssey"      "Mumbai"

    location_country load_date generation_date batch_number
0   "United Kingdom"  20250121        20240505            1
1    "United States"  20250121        20240505            1
2          "Germany"  20250121        20240505            1
3           "Canada"  20250121        20240505            1
4            "India"  20250121        20240505            1
-----------------------
--------df Null %--------
Null percentage check for each data column
provider_id         0.0
name                0.0
location_city       0.0
location_country    0.0
load_date           0.0
generation_date     0.0
batch_number        0.0
dtype: float64
-----------------------
EDA for table: rawmaterialtype_bronze_layer
***********************************************

--------df.describe--------
To get data statics and understand data spread
        raw_material_type_id         name load_date generation_date  \
count             200.000000          200       200             200
unique                   NaN           48         1               1
top                      NaN  'Humectant'  20250121        20240505
freq                     NaN            7       200             200
mean              100.500000          NaN       NaN             NaN
std                57.879185          NaN       NaN             NaN
min                 1.000000          NaN       NaN             NaN
25%                50.750000          NaN       NaN             NaN
50%               100.500000          NaN       NaN             NaN
75%               150.250000          NaN       NaN             NaN
max               200.000000          NaN       NaN             NaN

       batch_number
count           200
unique            1
top               1
freq            200
mean            NaN
std             NaN
min             NaN
25%             NaN
50%             NaN
75%             NaN
max             NaN
-----------------------
--------df.info--------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   raw_material_type_id  200 non-null    int64
 1   name                  200 non-null    object
 2   load_date             200 non-null    object
 3   generation_date       200 non-null    object
 4   batch_number          200 non-null    object
dtypes: int64(1), object(4)
memory usage: 7.9+ KB
None
-----------------------
--------df.head--------
To see data and and get general insights
   raw_material_type_id               name load_date generation_date  \
0                     1       'Fatty Acid'  20250121        20240505
1                     2  'Flavoring Agent'  20250121        20240505
2                     3       'Emulsifier'  20250121        20240505
3                     4     'Preservative'  20250121        20240505
4                     5         'Colorant'  20250121        20240505

  batch_number
0            1
1            1
2            1
3            1
4            1
-----------------------
--------df Null %--------
Null percentage check for each data column
raw_material_type_id    0.0
name                    0.0
load_date               0.0
generation_date         0.0
batch_number            0.0
dtype: float64
-----------------------
EDA for table: salestransactions_bronze_layer
***********************************************

--------df.describe--------
To get data statics and understand data spread
        transaction_id   customer_id    flavour_id  quantity_liters  \
count     50514.000000  50514.000000  50514.000000     50514.000000
unique             NaN           NaN           NaN              NaN
top                NaN           NaN           NaN              NaN
freq               NaN           NaN           NaN              NaN
mean      24996.788791     37.852694    249.499327     49262.184741
std       14431.561361     21.605336    144.610664     29000.901299
min           0.000000      1.000000      1.000000         0.000000
25%       12496.250000     19.000000    125.000000     24000.000000
50%       25003.500000     38.000000    249.000000     49000.000000
75%       37499.750000     57.000000    375.000000     75000.000000
max       49999.000000     75.000000    500.000000     99000.000000

       transaction_date country      town postal_code  amount_dollar  \
count             50514   50514     50514       50514   5.051400e+04
unique              700       9        54       50000            NaN
top          2023-02-22   CHINA  Shanghai      6HSALR            NaN
freq                100    5694       999           2            NaN
mean                NaN     NaN       NaN         NaN   1.000526e+06
std                 NaN     NaN       NaN         NaN   5.759750e+05
min                 NaN     NaN       NaN         NaN   0.000000e+00
25%                 NaN     NaN       NaN         NaN   5.010000e+05
50%                 NaN     NaN       NaN         NaN   1.001000e+06
75%                 NaN     NaN       NaN         NaN   1.501000e+06
max                 NaN     NaN       NaN         NaN   1.999000e+06

       load_date generation_date batch_number
count      50514           50514        50514
unique         2               2            2
top     20250121        20240505            2
freq       25257           25257        25821
mean         NaN             NaN          NaN
std          NaN             NaN          NaN
min          NaN             NaN          NaN
25%          NaN             NaN          NaN
50%          NaN             NaN          NaN
75%          NaN             NaN          NaN
max          NaN             NaN          NaN
-----------------------
--------df.info--------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50514 entries, 0 to 50513
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    50514 non-null  int64
 1   customer_id       50514 non-null  int64
 2   flavour_id        50514 non-null  int64
 3   quantity_liters   50514 non-null  int64
 4   transaction_date  50514 non-null  object
 5   country           50514 non-null  object
 6   town              50514 non-null  object
 7   postal_code       50514 non-null  object
 8   amount_dollar     50514 non-null  int64
 9   load_date         50514 non-null  object
 10  generation_date   50514 non-null  object
 11  batch_number      50514 non-null  object
dtypes: int64(5), object(7)
memory usage: 4.6+ MB
None
-----------------------
--------df.head--------
To see data and and get general insights
   transaction_id  customer_id  flavour_id  quantity_liters transaction_date  \
0               0           30         313            80000       2023-10-02
1               1            8         195            15000       2023-08-23
2               2           75         222            47000       2024-02-11
3               3           18         168            74000       2023-03-11
4               4           52         305            30000       2023-03-06

  country       town postal_code  amount_dollar load_date generation_date  \
0   INDIA     Mumbai      RX4N4N         856000  20250121        20240505
1   INDIA     Mumbai      T0R1V2        1043000  20250121        20240505
2   SPAIN  Barcelona      VI6CIO         536000  20250121        20240505
3   INDIA  Bangalore      Z6T672        1379000  20250121        20240505
4   JAPAN      Kyoto      AF2RGY        1037000  20250121        20240505

  batch_number
0            1
1            1
2            1
3            1
4            1
-----------------------
--------df Null %--------
Null percentage check for each data column
transaction_id      0.0
customer_id         0.0
flavour_id          0.0
quantity_liters     0.0
transaction_date    0.0
country             0.0
town                0.0
postal_code         0.0
amount_dollar       0.0
load_date           0.0
generation_date     0.0
batch_number        0.0
dtype: float64
-----------------------
EDA for table: ingredients_bronze_layer
***********************************************

--------df.describe--------
To get data statics and understand data spread
        ingredient_id                      name chemical_formula  \
count      600.000000                       600              600
unique            NaN                        83               73
top               NaN  β-Naphthol-1-sulfonamide        C10H7NO2S
freq              NaN                        44               44
mean       250.500000                       NaN              NaN
std         86.674318                       NaN              NaN
min        101.000000                       NaN              NaN
25%        175.750000                       NaN              NaN
50%        250.500000                       NaN              NaN
75%        325.250000                       NaN              NaN
max        400.000000                       NaN              NaN

        molecular_weight  cost_per_gram  provider_id load_date  \
count         600.000000     600.000000   600.000000       600
unique               NaN            NaN          NaN         2
top                  NaN            NaN          NaN  20250122
freq                 NaN            NaN          NaN       300
mean          158.471333      10.600000   145.583333       NaN
std            85.043080       3.431641    86.534522       NaN
min            58.100000       6.200000     1.000000       NaN
25%           133.200000       9.000000    70.750000       NaN
50%           154.200000      10.500000   145.500000       NaN
75%           172.200000      11.500000   220.250000       NaN
max          1379.400000      56.500000   295.000000       NaN

       generation_date batch_number
count              600          600
unique               2            1
top           20240506            1
freq               300          600
mean               NaN          NaN
std                NaN          NaN
min                NaN          NaN
25%                NaN          NaN
50%                NaN          NaN
75%                NaN          NaN
max                NaN          NaN
-----------------------
--------df.info--------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ingredient_id     600 non-null    int64
 1   name              600 non-null    object
 2   chemical_formula  600 non-null    object
 3   molecular_weight  600 non-null    float64
 4   cost_per_gram     600 non-null    float64
 5   provider_id       600 non-null    int64
 6   load_date         600 non-null    object
 7   generation_date   600 non-null    object

In [54]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df['flavour_id'].unique

In [ ]:
(df.isnull().sum())/len(df)*100

In [ ]:
df.describe(include='all')

In [ ]:

import seaborn as sns
import matplotlib.pyplot as plt

correlation_matrix = df.corr()
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm")
plt.show()

In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine,text
import subprocess

# PostgreSQL Connection
DB_CONN = "postgresql+psycopg2://postgres:postgres@localhost:5432/iff"

def eda_bronze():
    engine = create_engine(DB_CONN)
    with engine.connect() as connection:
        result = connection.execute(text("""
            SELECT tablename 
            FROM pg_tables 
            WHERE schemaname = 'bronze_schema' AND tablename LIKE '%_bronze_layer'
        """))
        
        bronze_tables = [row[0] for row in result]
        
        for table in bronze_tables:
            # if 'recipes' in table.lower():
            #     df = pd.read_sql(f"SELECT * FROM bronze_schema.{table} where heat_process is null limit 5", engine)
            #     df["heat_process"].fillna("NA",inplace=True)
            #     print(df)
            
            if 'customers' in table.lower():
                df = pd.read_sql(f"SELECT * FROM bronze_schema.{table}", engine)
                df.drop(["index"],axis =1,inplace = True)
                print(df)
            
    print(f"Process done")


eda_bronze()

     index  customer_id                       name location_city  \
0        0            1                  Acme Corp      New York
1        1            2              Bold Ventures        London
2        2            3           Clever Solutions         Tokyo
3        3            4        Dynamic Innovations        Sydney
4        4            5     Efficient Technologies       Toronto
..     ...          ...                        ...           ...
323     43           44   Quantum Leap Innovations      Tel Aviv
324     41           42    Ocean Blue Technologies       Seattle
325     60           61        Hyperlink Solutions        Berlin
326     11           12  Leading Edge Technologies         Seoul
327      8            9         Innovative Designs        Madrid

    location_country load_date generation_date batch_number
0                USA  20250124        20240508            1
1                 UK  20250124        20240508            1
2              Japan  20250124        20240508            1
3          Australia  20250124        20240508            1
4             Canada  20250124        20240508            1
..               ...       ...             ...          ...
323           Israel  20250124        20240508            1
324              USA  20250124        20240508            1
325          Germany  20250124        20240508            1
326      South Korea  20250124        20240508            1
327            Spain  20250124        20240508            1

[328 rows x 8 columns]
Process done